.profile-container {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 230px;
    height: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-left: 10px;
}


.card-wrapper:hover {
    scale: 1.03;
    transition: all 400ms ease;
}

.card-rating {
    display: flex;
    position: absolute;
    right: 0;
    top: .3rem;
    width: 60px;
    justify-content: space-between;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 1rem;

}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}



.card-btn {
    padding: .5rem 1rem;
    background: var(--green-color);
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    font: inherit;
}

.info-details {
    color: black;
}

@media (max-width:1280px) {
    .profile-container {
        width: 240px;
    }
}

@media (max-width:900px) {
    .profile-container {
        width: 220px;
    }
}


@media (max-width:768px) {
    .profile-container {
        width: 170px;
        height: auto;
        padding: .5rem;
        gap: .3rem;
        font-size: .8rem;
        margin: 0rem;
        margin-left: -4px;
    }

    .card-btn {
        font-size: .9rem;
        padding: .3rem .8rem;
    }

    .image-container {
        padding: 0;
    }

    .card-wrapper:hover {
        scale: 1;

    }
}