.productcard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    top: -80px
}

.productcard-left {
  
   width: 35%;

}

.productcard-main-img{
    width: 50%;
    height: 100%;
}

.wishlist-Each-product{
    position: relative;
    left: 400px;
    top: -200px;
 }



.productcard-right {
    margin: 0 70px;
    display: flex;
    flex-direction: column;
    position: relative;

}
.eachprod-quantity-container{
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}



.productcard-right h1 {
    color: #3d3d3d;
    font-size: 2rem;
    font-weight: 700;
}

.productcard-right-star {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 1rem;
}

.productcard-right-prices {
    display: flex;
    margin: 15px 0;
    gap: 30px;
    font-size: 1.4rem;
    font-weight: 700;
}

.productcard-right-price-old {
    text-decoration: line-through;
    color: #818181;
}

.productcard-right-price-new {
    color: rgb(7, 159, 7);
}

.productcard-right-size h1 {
    margin-top: 15px;
    color: #656565;
    font-size: 1.2rem;
    font-weight: 600;
}

.productcard-right-sizes {
    display: flex;
    margin: 15px 0px;
    gap: 20px;
}

.productcard-right-sizes div {
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.productcard-right button {
    padding: 20px 40px;
    width: auto;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background:#056305;

    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}

.productcard-right-category {
    margin-top: 15px;
}


.productcard-right-category span {
    font-weight: 600;
}

.back-btn-in-product{
    position: absolute;
    top: 120px;
    left: 20px;
    font-weight: 900;
    cursor: pointer;
}

.pictures{
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: -75px;
    top: 20px;
}

.product-img{
    background-color: rgb(245, 245, 245);
    height:60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.product-img img{
    height:50px;
    width: 50px;
    border-radius: 10px;

}

.back-btn-in-each-product{
    
}
@media (max-width:1280px) {
    .productcard {
        margin: 0px 60px;
    }

    .productcard-left {
        gap: 10px;
    }

    .productcard-img-list {
        gap: 10px;
    }

    .productcard-img-list img {
        height: 100px;
    }

    .productcard-main-img {
        width: auto;
        height: 430px;
    }

    .productcard-right {
        margin: 0px 30px;
    }

    .productcard-right h1 {
        font-size: 1.4rem;
    }

    .productcard-right-star {
        gap: 3px;
        font-size: 13px;
    }

    .productcard-right-prices {
        margin: 10px 0px;
        font-size: 1.2rem;
    }

    .productcard-right-description {
        font-size: .8rem;
    }

    .productcard-right-size h1 {
        margin-top: 15px;
        font-size: 1.25rem;
    }

    .productcard-right-sizes div {
        padding: 14px 20px;
    }

    .productcard-right button {
        width: 200px;
        padding: 15px 0;
        margin-bottom: 20px;
    }

    .productcard-right-category {
        margin-top: 5px;
        font-size: .8rem;
    }
}

@media (max-width:1024px) {
    .productcard {
        margin: 0px 30px;
    }

    .productcard-left {
        gap: 5px;
    }

    .productcard-img-list img {
        height: 85px;
    }

    .productcard-main-img {
        width: auto;
        height: 370px;
    }

    .productcard-right h1 {
        font-size: 1.15rem;
    }

    .productcard-right-star img {
        width: 15px;
    }

    .productcard-right-description {
        font-size: .8rem;
    }

    .productcard-right-sizes {
        margin-top: 10px 0px;
    }

    .productcard-right-sizes div {
        padding: 10px 16px;
        font-size: .8rem;
    }

    .productcard-right button {
        width: 180px;
        padding: 15px 0;
        margin-bottom: 10px;
    }

    .productcard-right-category {
        margin-top: 5px;
        font-size: .8rem;
    }
}

@media (max-width:800px) {
    .productcard {
        margin: 0px 0px;
       margin-top: -180px;
    }

    .wishlist-Each-product{
        position: relative;
        left: 470px;
        top: -250px;
    }

    .productcard-left {
        gap: 2px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .productcard-img-list {
        flex-direction: row;
        justify-content: space-between;
    }

    .productcard-img-list img {
        height: 70px;
    }

    .productcard-main-img {
        width: auto;
        height: 320px;
    }

    .productcard-right h1 {
        font-size: 1.1rem;
    }

    .productcard-right-star img {
        width: 13px;
    }

    .productcard-right-description {
        font-size: .8rem;
    }

    .productcard-right-size h1 {

        margin-top: 10px;
    }

    .productcard-right-sizes {
        margin-top: 10px;
        gap: 5px;
    }

    .productcard-right-sizes div {
        padding: 8px 14px;
        font-size: .8rem;
    }

    .productcard-right button {
        width: 180px;

    }

    .productcard-right-category {
        margin-top: 5px;
        font-size: .8rem;
    }
    .back{
        font-size: large;
        font-weight: 900;
        display: flex;
        position: relative;
        left: -150px;
    }
}

@media (max-width:500px) {
    .productcard {
        flex-direction: column;
        margin: 0px 20px;
        position: relative;
        height: 600px;

    }

    .wishlist-Each-product{
       position: relative;
       left: 140px;
       top: 0px
    }


    .productcard-left {
  
        width: 80%;
        height: 40%;
        position: relative;
     
     }

     .productcard-img{
        display: flex;
         justify-content: center;
         align-items: center;
     }
     
     .productcard-left .productcard-img .productcard-main-img{
         width: 75%;
         height: 100%;
         
     }


     .pictures{
        width: 300px;
        height: 60px;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        left: -5px;
        top: 20px;
        

    }
  

    .productcard-right {
        margin-top: 0px;
        position: relative;
        top: 150px
    }

    .productcard-right h1 {
        margin-top: 15px;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .productcard-right-star img {
        width: 15px;
    }

    .productcard-right-description {
        font-size: .8rem;
    }

    .productcard-right-size h1 {

        margin-top: 10px;
    }





    .productcard-right button {
        margin-top: 1rem;
        width: 200px;
        padding: 12px 6px;

    }

    .productcard-right-category {

        font-size: 1rem;
    }
}