.suggestions-wrapper {
    position: absolute;
    width: 300px;
    top: 4rem;
    left: -.7rem;
    background: whitesmoke;
    border-radius: 4px;
    color: black;
    overflow-y: auto;
    height: 400px;
    width: 300px;
}

/* Custom scrollbar styles */
.suggestions-wrapper::-webkit-scrollbar {
    width: 4px; /* Customize scrollbar width */
  }
  
  .suggestions-wrapper::-webkit-scrollbar-thumb {
    background-color: #000; /* Customize thumb color */
    border-radius: 4px; /* Round the thumb corners */
  }

.suggestions-display {
    padding: 10px;
    color: gray;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    width: 280px;

}
.close{
    position: sticky;
    top: 0;
    margin-left: 250px;
    margin-top: 10px;
    border: none;
    padding:10px;
    cursor: pointer;
    border-radius: 50%;
    background:black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.suggestions-display img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.product-name{
    width: 100%;
}


@media (max-width:768px) {
    .suggestions-wrapper {
        right: -1rem;
        margin: 0 auto;
        width: 100%;
        backdrop-filter: blur(13.5px);
        -webkit-backdrop-filter: blur(13.5px);
    }

    .suggestions-display {
        width: 290px;
        color: black
    }
    .product-name{
        width: 100%;

    }
}