.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-items: center;
}



@media (max-width:1024px) {
    .products-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

@media (max-width:768px) {
    .products-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

@media (max-width:600px) {
    .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .3rem;
    }
}