.footer-container{
    display: flex;
   justify-content: space-between;
   justify-self: self-start;
    color: white;
    padding: 0rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.details{
    display: flex;
    
    flex-direction: column;
    gap: 10px;
}
.outer-wrapper{
    background: black;
    width: 100%;
}
a{
    color: white;
    text-decoration: none;
}

@media (max-width:600px) {
    .details{
        align-items: center;
    }
    .footer-container{
        flex-direction: column;
        
            align-items: center;
      
        gap: 2rem;
    }
}