.orders-top{
    display: flex;
    gap: 1rem;
}
.orders-wrapper{
    padding: 1rem;
    max-width: 90%;
    margin: 0 auto;
}
.orders-link{
    border-radius: 4px;
    padding: .6rem 1rem;
    font-weight: 600;
}
.orders-link:hover{
    background: rgb(201, 201, 201);
}

.orders-bottom{
    height: 500px;
    overflow-y: auto;
    
}
/* WebKit (Chrome, Safari, etc.) */
.orders-bottom::-webkit-scrollbar {
    width: 10px;
  }
  
  .orders-bottom::-webkit-scrollbar-track {
    background: rgb(236, 232, 232);
  }
  
  .orders-bottom::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
  }
.present-link
 {
    background: rgb(215, 215, 215);
    border-radius: 4px;
}

@media (max-width:600px) {
    .orders-wrapper{
        padding: .6rem 0.2rem 0 .2rem;
        height: 70vh;
    }
}