.slider-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .shoper-slider-container{
  
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;

}

.shoper-slider-container .shoper-slider-card-container{
 display: flex;
 justify-content: center;
 align-items: center;

} */


.swiper-btns{

  display: flex;
  justify-content: space-between;
  background-color: blue;
}

.swiper-button-prev{
    transform: rotate(180deg);
    color: black;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        background: rgb(232, 228, 228);
        border-radius: 50%;
        border: none;
        padding: 1rem;
        position: absolute;
       top: 9rem;
       left: 0;
       z-index: 1000;
}

.swiper-button-next{
    color: black;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        background: rgb(232, 228, 228);
        border-radius: 50%;
        border: none;
        padding: 1rem;
        position: absolute;
        top: 9rem;
        right: 0;
        z-index: 1000;
}


@media (max-width:768px) {
    
   
    .slider-card-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swiper-button-next,.swiper-button-prev{
        display: none;
    }
    .shoper-slider-container{
        width: 100%;
    
    
    }
    
    /* .shoper-slider-card-container{
    
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     left: 10px;
    } */

}



