.shoper-slider-container {
    
  }
  
  .shoper-slider-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  

  
  .shoper-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none; /* Optional: Remove underline from link */
  }
  
  .swiper-btns {
    position: absolute;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .swiper-button-prev img,
  .swiper-button-next img {
    width: 30px;
    height: 30px;
  }
  